/* Style to apply to all */

* {
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    min-height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    background: radial-gradient(#cbf7f9, #a6f1fa);
}

/* Navigation Bar*/

.topnav {
    background-color: blueviolet;
    overflow: hidden;
    width: 100%;
}

.topnav a {
    float: right;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.5em;
}

.topnav a:hover {
    background-color: gray;
    color: black;
}

.topnav a.active {
text-decoration: black underline ;
}

/* Title area and text*/

#title {
    text-align: center;
    font-size: 5em;
}

#title a {
    text-decoration: none;
    color: black;
}

/* Game Container*/

.game-info-container{
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
}

.game-info {
    font-size: 2.5em;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 10px;
    margin: 40px;
    justify-content: center;
    perspective: 1000px;

}

/* Game Cards*/

.card {
    position: relative;
    height: 175px;
    width: 125px;
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
    border: 1px solid black;
    background-color: white;
    transition: transform 500ms ease-in-out;
}

.card.visible .card-back {
    transform: rotateY(-180deg);
}

.card.visible .card-front {
    transform: rotateY(0);
}

.card.matched .card-value {
    animation: dance 2s linear infinite 500ms;
}

.overlay-text {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
    color: white;

}

.restart {
    font-size: 0.5em;
}

.overlay-text.visible {
    display: flex;
    flex-direction: column;
    animation-name: overlay-grow;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes overlay-grow {
    from{
        background-color: rgba(0, 0, 0, 0);
        font-size: 0;
    }
    to {
        font-size: 4em;
        background-color: rgba(20, 90, 219, 0.8);
        text-align: center;
    }
}

@keyframes dance {
    0%, 100% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(-20deg);
    }
    75% {
        transform: rotate(20deg);
    }
}

.card-front {
    transform: rotateY(180deg);
    background-color: white;
    border: 1px solid black;
}

.dog-bone {
    height: 140px;
    margin-top: 15px;
    align-self: flex-start;
    transform: translateY(-10px);
    transition: transform 100ms ease-in-out;
}

.card-face:hover .dog-bone {
    transform: translateY(0);
}

.card-value {
    height: 140px;
    margin-top: 15px;
    align-self: flex-start;
    transform: scale(0.8);
    transition: transform 200ms ease-in-out;
}

.card-front:hover .card-value{
    transform: scale(1);
}

/* Media Queries for Game Page*/


@media (max-width: 400px) {
    .topnav {
        text-align: center;
        width: 100%;
        font-size: 1em;
    }

    .game-container {
        grid-template-columns: repeat(2, auto);
    }

    #title {
        font-size: 3em;
    }

}

@media (min-width: 401px) {
    .game-container {
        grid-template-columns: repeat(3, auto);
    }
}

@media (min-width: 740px) {
    .game-container {
        grid-template-columns: repeat(4, auto);
    }
    
}

@media (min-width: 900px) {
    .game-container{
    grid-template-columns: repeat(6, auto);
    }
}
/* Contact Page*/

.contact-head {
    text-align: center;
    padding-bottom: 15px;
    font-size: 4em;
}

.wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 0 20px;
}

.contact-form {
    max-width: 550px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.6);
    padding: 30px;
    border-radius: 5px;
    display: flex;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
}

.input-fields {
    display: flex;
    flex-direction: column;
    margin-right: 4%;
}

.input-fields, .msg {
    width: 48%;
}

.input-fields .input, .message textarea {
    margin: 10px 0;
    background: transparent;
    border: 0;
    border: 2px solid white;
    padding: 10px;
    color: white;
    width: 100%;
}

.message textarea {
    height: 212px;
}

.btn {
    background: blue;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
}

/* media query for contact page*/

@media screen and (max-width: 600px){
    .contact-form{
        flex-direction: column;
    }
    .message textarea {
        height: 80px;
    }
    .input-fields, .message{
        width: 100%;
    }
}

