/* Style to apply to all */

* {
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    min-height: 100vh;
}

body {
    margin: 0;
    background: radial-gradient(#cbf7f9, #a6f1fa);
}

/* Navigation Bar*/

.topnav {
    background-color: blueviolet;
    overflow: hidden;
    width: 100%;
}

.topnav a {
    float: right;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.5em;
}

.topnav a:hover {
    background-color: gray;
    color: black;
}

.topnav a.active {
text-decoration: underline 3px black;
}

/* Title area and text*/

#title {
    text-align: center;
    font-size: 5em;
}

#title a {
    text-decoration: none;
    color: black;
}

/* Game Container*/

.game-info-container{
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
}

.game-info {
    font-size: 2.5em;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 10px;
    margin: 40px;
    justify-content: center;

}

.card {
    background-color: white;
    height: 175px;
    width: 125px;
}


/* Contact Page*/

.contact-head {
    text-align: center;
    padding-bottom: 15px;
    font-size: 4em;
}

.wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 0 20px;
}

.contact-form {
    max-width: 550px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.6);
    padding: 30px;
    border-radius: 5px;
    display: flex;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
}

.input-fields {
    display: flex;
    flex-direction: column;
    margin-right: 4%;
}

.input-fields, .msg {
    width: 48%;
}

.input-fields .input, .message textarea {
    margin: 10px 0;
    background: transparent;
    border: 0;
    border: 2px solid white;
    padding: 10px;
    color: white;
    width: 100%;
}

.message textarea {
    height: 212px;
}

::-webkit-input-placeholder {
    color: white;
}

.btn {
    background: blue;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
}

/* media query for contact page*/

@media screen and (max-width: 600px){
    .contact-form{
        flex-direction: column;
    }
    .message textarea {
        height: 80px;
    }
    .input-fields, .message{
        width: 100%;
    }
}

